<h2>What's on your mind, {{currentUser.username}}?</h2>
<form #postForm='ngForm' (submit)='addPost()'>
  <div class="form-group">
    <input
      class="form-control"
      name='content'
      [(ngModel)] = 'post.content'
      id="content"
      #content = 'ngModel'
      required>
    <span [hidden] = 'content.valid || content.pristine'>
      Content cannot be empty!
    </span>
  </div>

  <button
    class="btn btn-success"
    [disabled] = '!postForm.form.valid'>
    Add Post
  </button>

  <a routerLink="/" class="btn btn-default">Cancel</a>
</form>
