<div class='animated fadeIn' >
  <div class='media movie' >
    <span class='position pull-left' >{{index + 1}}</span >
    <div class='profile-card-pic-container'>
      <img class='profile-card-pic' [src]="profile.profilePicture ? profile.profilePicture : defaultProfilePic" />
    </div>
    <div class='media-body profile-card-info' >
      <h4 class='media-heading' >
        {{profile.firstName}} {{profile.lastName}} - <b><i>{{profile.age}} years old</i></b>
      </h4 >
    </div >
    {{profile.description}}
    <a href="user/profile/{{profile._id}}" class="btn btn-default pull-right">See Profile</a>
    <a *ngIf='profile.username !== currentUser' href="message/send/{{profile.username}}" class="btn btn-success pull-right">Send Message</a>
  </div >
</div >
