<div >
  <ul *ngIf="isAuthenticated" >
    <li *ngFor="let item of pagedItems" >
      {{item.firstName}}
      <a routerLink="user/profile/{{item._id}}" class="btn btn-default" > Go to profile</a >
    </li >
  </ul >

  <!-- pager -->
  <ul *ngIf="pager.pages && pager.pages.length && isAuthenticated" class="pagination" >
    <li >
      <a (click)="setPage(1)" [ngClass]="{disabled:pager.currentPage === 1}" >First</a >
    </li >
    <li >
      <a (click)="setPage(pager.currentPage - 1)" [ngClass]="{disabled:pager.currentPage === 1}" >Previous</a >
    </li >
    <li *ngFor="let page of pager.pages"
        [ngClass]="{active:pager.currentPage === page}" >
      <a (click)="setPage(page)" >{{page}}</a >
    </li >
    <li >
      <a (click)="setPage(pager.currentPage + 1)"
         [ngClass]="{disabled:pager.currentPage === pager.totalPages}" >Next</a >
    </li >
    <li >
      <a (click)="setPage(pager.totalPages)" [ngClass]="{disabled:pager.currentPage === pager.totalPages}" >Last</a >
    </li >
  </ul >
</div >
