<div>
  <h2>Add New Image</h2>
  <form #addImageForm='ngForm' (submit)='addImage()'>
    <div class="form-group">
      <input
        type="file"
        accept=".jpg,.jpeg,.png"
        (change)="fileChange($event)"
        class="form-control"
        name='image'
        id="image"
        label='Your New Profile Image'
        required>
    </div>

    <button
      type="submit"
      class="btn btn-success"
      [(disabled)] = '!profile.image'>
      Submit
    </button>
  </form>
</div>
